.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}

.img-hero-background {
    display: flex;
    background-image: url(../../assets/home/image-homepage-hero.jpg);
    background-size: cover;
    width: 1110px;
    height: 600px;
    margin-bottom: 149px;
}

.welcome {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    width: 445px;
    height: 357px;
    background-color: #F2F2F2;
}

.welcome .text {
    height: 200px;
    padding-left: 6.29%;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
}

.welcome button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 200px;
    margin-top: 53px;
    border: none;
    background-color: #203A4C;
}

.welcome button .down-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
}

.welcome button .down-arrows svg {
    height: 20px;
    width: 16px;
}

button:hover svg g {
    stroke: #FFFFFF;
}

.welcome button .text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74%;
    height: 100%;
}

.welcome button .text-button p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.welcome button:hover {
    background: #5FB4A2;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box {
    display: flex;
    width: 1110px;
    height: 601px;
}

.img-profile img {
    max-width: 540px;
    max-height: 600px;
}

.about-text-button {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.about-text header p {
    margin-top: 51px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: rgba(51, 50, 61, 1);
}

.about-text p {
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    mix-blend-mode: normal;
    color: rgba(51, 50, 61, 0.8);
}

.button-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.button-portfolio button {
    cursor: pointer;
    height: 48px;
    width: 204px;
    border: 1px solid #33323D;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    color: #33323D;
}
